.form-sideNav{
    position: fixed;
    right: 0px;
    text-align: center;
    background-color:#fbd19d;
    top: 0px;
    height: 100%;
    bottom: 0px;
  
}
form div{
    margin: 0px 20px 0px 80px;
}

form h1{
    margin-left: 35px;
}

#books{
    position: absolute;
}

table{
    padding-left: 50px;
    border-spacing: 40px;
    margin-right: 300px;
}

td{
    padding: 30px 100px 30px 0px;
    background-color: #fbd19d;
    border-radius: 30px;
}

#bookshelf h1{
    text-align: center;
    margin-right: 350px;
}

input{
    line-height: 20px;
    outline: none;
    border-radius: 8px;
}

#titleInput{
    margin-left: 15px;
}

#bookAuthor{
    margin-right: 100px ;
}

#pgCount{
    margin-left: -12px;
    /* text-align: center; */
}




#readStatus{
    margin-left: 50px;
}

#inputBookInfo{
    padding: 2px 15px 2px 15px;
}

#submit{
    margin-left: 45px;
}

ul{
    text-align: left;
    display: inline-block;
}

li{
    list-style-type: none;
    padding: 2px;
}

#formCheck{
    visibility: hidden;
}